<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap"
            rel="stylesheet"
    />
    <title>Cola's noreply email</title>
</head>
<body
        style="
      background: #f3faf9;
      height: auto;
      width: 100%;
      align-items: center;
      align-content: center;
      display: flex;
      justify-content: center;
    "
>
<div
        style="
        width: 570px;
        height: auto;
        padding: 72px 60px;
        background: white;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        display: inline-flex;
      "
>
    <div
            style="width: 140px; height: 48px; position: relative"
            aria-label="cola-logo"
    >
        <svg
                width="140"
                height="48"
                viewBox="0 0 140 48"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
        >
            <path
                    d="M35.603 35.0407H31.2872C27.1202 35.0407 23.7427 31.6632 23.7427 27.4962V12.9576H41.0507V15.6205H26.4045V27.4972C26.4045 30.1929 28.5906 32.3789 31.2862 32.3789H35.602C39.769 32.3789 43.1465 29.0014 43.1465 24.8343V1.34343C43.1465 0.608244 43.7423 0.0125122 44.4774 0.0125122C45.2126 0.0125122 45.8083 0.608244 45.8083 1.34343V24.8343C45.8083 30.4718 41.2383 35.0418 35.6009 35.0418L35.603 35.0407Z"
                    fill="black"
            />
            <path
                    d="M68.4057 37.2957C67.6705 37.2957 67.0748 36.6999 67.0748 35.9648V23.1745C67.0748 19.0074 63.6973 15.6299 59.5302 15.6299H55.2145C52.5188 15.6299 50.3328 17.816 50.3328 20.5116V32.3883H64.9082V35.0512H47.6699V20.5116C47.6699 16.3446 51.0474 12.967 55.2145 12.967H59.5302C65.1676 12.967 69.7376 17.5371 69.7376 23.1745V35.9648C69.7376 36.6999 69.1419 37.2957 68.4067 37.2957H68.4057Z"
                    fill="black"
            />
            <path
                    d="M113.631 12.939H115.064C115.403 12.939 115.679 13.2148 115.679 13.5542V35.0231H113.016V13.5542C113.016 13.2148 113.292 12.939 113.631 12.939Z"
                    fill="black"
            />
            <path
                    d="M139.655 35.0224H117.537V32.3595H136.994V28.4488C136.994 27.5772 136.231 26.9918 135.095 26.9918H124.021C120.498 26.9918 117.52 23.8285 117.52 20.0839C117.52 16.1209 120.755 12.8972 124.731 12.8972L138.322 12.8921C139.058 12.8921 139.654 13.4878 139.654 14.223C139.654 14.9582 139.059 15.5549 138.323 15.5549L124.732 15.5601C122.223 15.5601 120.183 17.5903 120.183 20.085C120.183 22.5797 122.209 24.3299 124.021 24.3299H135.095C137.695 24.3299 139.655 26.1007 139.655 28.4488V35.0224Z"
                    fill="black"
            />
            <path
                    d="M99.2349 12.939H107.514C107.853 12.939 108.129 13.2148 108.129 13.5542V14.9866C108.129 15.326 107.853 15.6018 107.514 15.6018H99.2349V12.939Z"
                    fill="black"
            />
            <path
                    d="M111.174 34.9821H105.814C100.186 34.9821 95.6064 30.4028 95.6064 24.7747V1.33091C95.6064 0.595732 96.2022 0 96.9374 0C97.6725 0 98.2683 0.595732 98.2683 1.33091V24.7747C98.2683 28.9345 101.653 32.3192 105.813 32.3192H111.173V34.9821H111.174Z"
                    fill="black"
            />
            <path
                    d="M20.7348 37.2957C19.9996 37.2957 19.4038 36.6999 19.4038 35.9648V23.1745C19.4038 19.0074 16.0263 15.6299 11.8593 15.6299H7.54355C4.84789 15.6299 2.66183 17.816 2.66183 20.5116V32.3883H17.2383V35.0512H0V20.5116C0 16.3446 3.37752 12.967 7.54457 12.967H11.8603C17.4977 12.967 22.0677 17.5371 22.0677 23.1745V35.9648C22.0677 36.6999 21.472 37.2957 20.7368 37.2957H20.7348Z"
                    fill="black"
            />
            <path
                    d="M81.8353 12.9717H86.151C90.318 12.9717 93.6956 16.3493 93.6956 20.5163V35.0559H76.3875V32.393H91.0337V20.5163C91.0337 17.8207 88.8477 15.6346 86.152 15.6346H81.8363C77.6692 15.6346 74.2917 19.0121 74.2917 23.1792V46.6691C74.2917 47.4042 73.696 48 72.9608 48C72.2256 48 71.6299 47.4042 71.6299 46.6691V23.1792C71.6299 17.5418 76.1999 12.9717 81.8373 12.9717H81.8353Z"
                    fill="black"
            />
        </svg>
    </div>
    <div
            aria-label="divider"
            style="
          width: 100%;
          height: 100%;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          display: inline-flex;
        "
    >
        <div style="width: 0; height: 1px; position: relative"></div>
        <div
                style="align-self: stretch; height: 0; border: 1px #c4c3bf solid"
        ></div>
    </div>
    <div style="width: 100%">
        <span
                style="
            color: #3e3d39;
            font-size: 16px;
            font-family: Montserrat,serif;
            font-weight: 600;
            line-height: 24px;
            word-wrap: break-word;
          "
        >Did you request to reset your password?<br/></span
        ><span
            style="
            color: #3e3d39;
            font-size: 16px;
            font-family: Montserrat,serif;
            font-weight: 400;
            line-height: 24px;
            word-wrap: break-word;
          "
    >We’ve received a request to reset the password for the Cola's
          account associated with ${email}. No changes have been made to your
          account yet.<br/><br/>You can reset your password by clicking the
          button below:</span
    >
    </div>
    <a
            href=""
            style="
          text-decoration: none;
          color: #01665e;
          cursor: pointer;
          width: 100%;
          height: 100%;
          padding: 6px 16px;
          background: #01665e;
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          border-radius: 4px;
          overflow: hidden;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          display: inline-flex;
        "
    >
        <div>
            <div
                    style="
              justify-content: center;
              align-items: center;
              gap: 8px;
              display: inline-flex;
            "
            >
                <div
                        style="
                color: white;
                font-size: 14px;
                font-family: Montserrat,serif;
                font-weight: 600;
                line-height: 20px;
                word-wrap: break-word;
              "
                >
                    RESET PASSWORD
                </div>
            </div>
        </div>
    </a>

    <div
            style="
          width: 100%;
          color: #3e3d39;
          font-size: 16px;
          font-family: Montserrat,serif;
          font-weight: 400;
          line-height: 24px;
          word-wrap: break-word;
        "
    >
        Please note that this link with expire within ${linkExpirationTimeOut} hours, after which you will have to
        submit a new password reset
        request.<br/><br/>If you did not request a new password, kindly ignore
        this email.<br/><br/>— The Cola's Team
    </div>
    <div
            aria-label="divider"
            style="
          width: 100%;
          height: 100%;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          display: inline-flex;
        "
    >
        <div style="width: 0; height: 1px; position: relative"></div>
        <div
                style="align-self: stretch; height: 0; border: 1px #c4c3bf solid"
        ></div>
    </div>
    <div style="width: 100%; text-align: center">
        <span
                style="
            color: #5d5c56;
            font-size: 14px;
            font-family: Montserrat,serif;
            font-weight: 400;
            line-height: 20px;
            word-wrap: break-word;
          "
        >Need Further Assistance?<br
        /></span>
        <a
                href="https://www.cola.ai"
                style="text-decoration: none; color: #01665e; cursor: pointer"
                onmouseover="this.style.textDecoration='underline';"
                onmouseout="this.style.textDecoration='none';"
        ><span
                aria-label="contact-us-link"
                style="
              font-size: 14px;
              font-family: Montserrat,serif;
              font-weight: 400;
              line-height: 20px;
              word-wrap: break-word;
            "
        >Contact Us</span
        ></a
        >
    </div>
</div>
</body>
</html>